/* Global */
* {
	font-family: "Inter";
	font-style: normal;
}
body {
	max-width: 1920px;
	margin: auto;
}
h1 {
	font-size: 26px;
}
h2 {
	font-size: 1.75em;
}
blockquote {
	font-family: "Spectral";
	font-style: italic;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.2;
}
nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}
nav li {
	padding-inline: 10px;
}
nav a {
	text-decoration: none;
	color: black;
}


/* Header */
header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}
nav img {
	width: 20px;
}


/* Section about */
#about {
	display: flex;
	background-color: #F6D2B8;
	padding: 100px;
	position: relative;
}
.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}
.picture.left::before {
	content: "";
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.picture img {
	width: 100%;
}
#about-me {
	flex: 2;
}
#about-me h2 {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
#about-me h3 {
	font-family: "Spectral";
	font-weight: 800;
	font-style: italic;
	font-size: 1em;
	width: 60%;
}
#about-me p {
	width: 80%;
	font-size: 14px;
}


/* Section gallery */
.section-title {
	text-align: center;
	padding-block: 2em;
}
.gallery {
	display: none;
}
.gallery .nav {
	justify-content: center;
}
.nav-item {
	padding-inline: 10px;
}
.nav-pills .nav-link {
	color: black;
	border-radius: 0;
	cursor: pointer;
}
.nav-pills .nav-link.active-tag,
.nav-pills .nav-link:hover {
	color: white;
	background-color: #BEB45A;
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev,
.mg-next {
	width: 30px;
	height: 30px;
	border-radius: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}
.quote {
	font-family: "Spectral";
	font-style: italic;
	width: 70%;
	margin: auto auto 1em;
	padding-block: 3em;
}
.quote figcaption {
	font-family: "Spectral";
	font-weight: 800;
	font-size: 22px;
}


/* Section services */
#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}
#services .container::before {
	content: "";
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}
#services .container {
	justify-content: space-between;
	display: flex;
	padding: 2em 0;
}
.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	list-style-type: none;
}
.service-price p {
	margin: 0;
}


/* Section contact */
#contact {
	margin: auto;
	background-color: #D8D3A8;
	position: relative;
	padding: 100px;
}
#contact .container {
	display: flex;
}
.form-container {
	flex: 2;
}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}
form input {
	width: 100%;
	background-color: transparent;
	border: 1px solid;
	height: 2.5em;
	margin-bottom: 20px;
}
form textarea {
	width: 100%;
	background-color: transparent;
	border: 1px solid;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em;
}
.picture.right::before {
	content: "";
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}


/* Footer */
footer {
	display: flex;
	justify-content: flex-end;
	padding-inline: 100px;
	padding-block: 30px;
}


/* Affichage jusqu'à 1180 pixels de large */
@media all and (max-width: 1180px) {

	/* Global */
	h2 {
		font-size: calc(1.3em + 0.6vw);
	}
	blockquote {
		font-size: calc(1.375em + 1.5vw);
	}

	/* Section about */
	#about,
	#contact .container {
		align-items: center;
	}
	.picture {
		flex: 2;
	}
	#about-me h2 {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h3,
	#about-me p {
		width: 100%;
	}
}


/* Affichage jusqu'à 1000 pixels de large */
@media all and (max-width: 1000px) {

	/* Section about */
	#about {
		flex-direction: column;
	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#about-me h2 {
		text-align: center;
		margin-top: 1em;
	}

	/* Section services */
	#services .container::before {
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0;
	}
	.service-description {
		margin-bottom: 1em;
	}

	/* Section contact */
	#contact .container {
		flex-direction: column;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
}


/* Affichage jusqu'à 650 pixels de large */
@media all and (max-width: 650px) {

	/* Global */
	nav,
	nav ul {
		width: 100%;
		padding: 0;
	}
	nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}

	/* Header */
	header {
		flex-direction: column;
		padding-inline: 0;
	}

	/* Section about */
	#about,
	#contact {
		padding: 2em;
	}
	.picture {
		width: 80%;
	}
	.picture.left::before,
	.picture.right::before {
		height: 150px;
	}

	/* Section services */
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}

	/* Section contact */
	form {
		width: 100%;
	}

	/* Footer */
	footer {
		justify-content: center;
		padding-inline: 0;
	}
}